/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


img {
    display: block;
    cursor: pointer;

}
.container{
    width: max-content;
    margin:100px;
}
.profile{
    margin: 5rem;
    display: grid;
    width:fit-content;
    max-width: fit-content;
    grid-template-columns:minmax(1,20);
    grid-template-rows: minmax(1,20);
    
}

/*.profile>.profile-image{
    border-radius: 0%;
    grid-column-start: 0px;
    grid-column-end: 30px;
    grid-row-start: 0px;
    grid-row-end: 20px;*/
    .profile-image {
        margin-top: 5rem;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .profile-image img{

        border-radius: 50%;
    }

.profile-user-settings{ 
    display: inline-block;
    display: flex; 
  margin-left: 40rem;

  
} 

.btn-profile-edit-btn{
    grid-row-start:0fr;
    grid-row-end:20fr;
    grid-column-start:50fr;
    grid-column-end: 100fr;
    cursor: pointer;
}
.btn-profile-settings-btn{

    grid-row-start:5fr;
    grid-row-end:1fr;
    grid-column-start:1fr ;
    grid-column-end: 1fr;
    cursor: pointer;
    }

 /*.profile-stats{
      display: -ms-inline-grid;
       margin-top: 3rem;
       grid-row-start:50px;
       grid-row-end:auto;
       grid-column-start:60px;
       grid-column-end: 8;
 }*/
 .profile-stats{
    margin-left: 36rem;
 }
.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    margin-right:1rem;
    cursor: pointer;
}


.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height:0.5;
    margin-left:40rem;
}


/*.profile-bio{
    grid-row-start: px;
    grid-row-end:60px ;
    grid-column-start: 100px;
    grid-column-end: auto;
}*/

button{margin-left: 10px;
    margin-top: 10px;
    height: 35px;
    width: 100px;
    background-color: white;
    color: black;
    border-color: grey;
}

.btn-profile-settings-btn{
    border: 0;
    width: 50px;
}
.gallery{
display: flex;
    flex-wrap: wrap;
    
}
.gallery-item {
    position: relative;
    
    margin: 50px;
    color: #fff;
    cursor: pointer;
}
.gallery-image {
    width: 50%;
    height: 50%;
    object-fit:fit-cover;
}

.gallery-item {
    position: relative;
    flex: content;
   
    color: white;
    cursor: pointer;
}
.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1rem;
    
}


