

:root {

    background-color: beige;
    --background-color: beige;              /*variables*/
    --2ndbckrnd-color:antiquewhite;
}
@media screen and (min-width: 480px) {         /*minimum screensize set*/
    .gallery{
        display: flex;
        flex-direction: row
        ;}}
header{
    /*background-color: var(--2ndbckrnd-color);*/
    background-size:contain;
    margin-left: 200px;
    margin-right: 200px;
}
img {
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    background-color: var(--background-color);

}
button{
    cursor: pointer;
    margin-right: 5px;
    border:black solid;
    border-radius: 30%;
    background-color: whitesmoke;
    border-width: 1px;
}
.btn-profile-settings-btn{

    background-color: whitesmoke;
    border: whitesmoke;
}
.container{
    margin: 50px;         
    text-align: end;
    width:max-content;
    background-color: var(--2ndbckrnd-color);
}

.profile{
    display: grid;
    grid-template-columns: repeat(20 minmax(1px,1fr));
    grid-auto-rows:repeat(20 minmax(1px, 1fr)) ;

}
                    /*layout for all user settings and bio*/
.profile-image{
    grid-column: 1/1;
    grid-row: 1/10;   
    margin-left: 50px;
}
.profile-image img{
    border-radius: 50%;             
    border: black solid;
    
}
.profile-user-settings{
    
    grid-column: 3/auto;          /*user setting layout eg buttons and name*/
      grid-row: 3/4;
    
      display: flex;
      flex-direction: row;
        
}
.profile-user-name{
margin: 5px;                /*username specifications*/
font-size: 20px;
}

.profile-stats{                 /*layout for profile stats*/
    cursor: pointer;
    grid-column: 2/12;
    grid-row: 8;
    li{
    display:inline-block;
    padding-right: 1px;
    align-self:self-start;
    margin-right: 15px;
    font-style: italic;
    }
  
}
.profile-stat-count{                /*spacing for likes and comment stats*/
  margin-right: 2px;
}
.profile-bio{             /*layout for the profile bio*/
    grid-column: 3/20;
    grid-row: 4;
    text-align: start;
    font-size: 20px;
}
.gallery{                                       /*layour for the gallery*/
    
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: repeat(auto fit-content);
    grid-gap:15px;
    background-color: var(--2ndbckrnd-color);
    overflow: hidden;
    align-items: center;
    
}
.gallery-item{                              /*specs for the image and likes/comment container*/
    border: rgb(238, 238, 191) solid; 
    overflow: hidden;
    background-color: azure;
    margin: 5px;
    height:fit-content;
    display:flex;
    flex-direction: column;
}
.gallery-image{     /*styiling for all images except the profile image*/
 height: 250px;
 width: 350px;
 margin:10px;
 border: bisque solid;
 border-radius: 25%;
 border-width: 4px;
}

.gallery-item-info{        /*gallery info postioning/layout*/
    li{
 display: flex;
 flex-direction: row;
 
}
}
.gallery-item:hover .gallery-item-info,    /*gallery item hover effcts and focus*/
.gallery-item:focus .gallery-item-info {
    display: flex;                            
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: xx-large;
}
.profile-stat-count:hover{
         font-size: xx-large;
         color: orange;
}

.loader {
    width:50px;
    height: 50px;                           /* loaderspecs*/
    border: 1px solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 0.5s linear infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);          /*loader animation frames*/
    }
}



.gallery-item-type{
    display:flex;
    align-items: center;
    align-self:last baseline;

}

.visually-hidden{
    margin-right:5px;
    margin-left: 15px;
}

#fa-clone{
  margin-right: 15px;
}
